body {
    background: linear-gradient(#424B54, #453248);
    background-size: cover;
    color: whitesmoke;
}
.column-one-wrapper {
    margin-top: 50px;
}
.column-one-wrapper, .column-two-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
a:link {
    color: beige;
}

a:visited {
    color: beige;
}
a:hover {
    color: beige;
}
a:active {
    color: beige;
}

h1 {
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #34013b;
}

li {
    padding: 20px;
}
header {
    font-size: 30px;
    font-weight: 600;
}